.overlay {
  position: fixed;
  z-index: 998;
  inset: 0;
  background-color: rgba(196, 196, 196, 0.4);
  display: none;
}

body[data-modal-open="true"] .overlay {
  display: block;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  overflow: auto;
  display: none;
  filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));
}

.modal-wrapper {
  border-radius: 5px;
  background-color: var(--color-secondary);
  width: 50%;
  max-width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: 70px auto;
}

.modal .close-btn {
  border: none;
  border-radius: 0;
  background: none;
  margin: 0;
  padding: 0;
}

.modal-wrapper header {
  justify-content: space-between;
  width: 100%;
}

#modal-title {
  font-size: 4em;
  line-height: 1.2;
}

#modal-title span {
  display: block;
}

.modal-wrapper header img {
  cursor: pointer;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 1.625em;
  padding: 0 1em;
}

form textarea {
  width: 100%;
  resize: vertical;
  min-height: 170px;
  border: 0;
  border-radius: 5px;
  font-family: var(--font-default);
  font-size: 1.625em;
  padding: 10px 1em;
}

form .form-error {
  border: 4px solid red;
}

form .error-message {
  color: #000;
  font-weight: 700;
  font-size: 1.125em;
}

form .contact_button {
  margin: 26px 0 0;
}

.modal .confirmation {
  display: none;
  font-size: 1.5em;
  margin: 110px 0 50px;
}